[submodule "deploy/roles/Stouts.apt"]
	path = deploy/roles/Stouts.apt
	url = https://github.com/Stouts/Stouts.apt
[submodule "deploy/roles/Stouts.hostname"]
	path = deploy/roles/Stouts.hostname
	url = https://github.com/Stouts/Stouts.hostname
[submodule "deploy/roles/Stouts.locale"]
	path = deploy/roles/Stouts.locale
	url = https://github.com/Stouts/Stouts.locale
[submodule "deploy/roles/Stouts.ntp"]
	path = deploy/roles/Stouts.ntp
	url = https://github.com/Stouts/Stouts.ntp
[submodule "deploy/roles/Stouts.timezone"]
	path = deploy/roles/Stouts.timezone
	url = https://github.com/Stouts/Stouts.timezone
[submodule "deploy/roles/Stouts.python"]
	path = deploy/roles/Stouts.python
	url = https://github.com/Stouts/Stouts.python
[submodule "deploy/roles/Stouts.nginx"]
	path = deploy/roles/Stouts.nginx
	url = https://github.com/Stouts/Stouts.nginx
[submodule "deploy/roles/ANXS.postgresql"]
	path = deploy/roles/ANXS.postgresql
	url = https://github.com/ANXS/postgresql
