# Just save requirements for later benchmarks

gunicorn            == 19.4.5
meinheld            == 0.5.9

aiohttp             == 0.21.2
peewee-async        == 0.4.1

bottle              == 0.12.9

Django              == 1.9.4
django-postgrespool == 0.3.0

falcon              == 0.3.0
flask               == 0.10.1

wheezy.web[jinja2]  == 0.1.485

muffin              == 0.6.1
muffin-jinja2       == 0.1.0
muffin-peewee       == 0.6.2

pyramid             == 1.6.1
tornado             == 4.3
Twisted             == 16.0.0

weppy               == 0.6.2

pytest              == 2.9.0
webtest
ipdb                == 0.9.0

