# Just save requirements for later benchmarks

aiohttp     == 0.15.3
bottle      == 0.12.8
django      == 1.8.1
falcon      == 0.2
flask       == 0.10.1
muffin      == 0.0.78
pyramid     == 1.5.7
tornado     == 4.1
