Cython              >= 0.24

sanic               ==0.6.0
sanic-jinja2        ==0.5.5
aiopg               == 0.9.2
peewee-async        == 0.5.3
aiohttp             == 0.21.6

psycopg2

gunicorn            >= 19.5.0
