doctype html
html
  head
    title Messages
    body
      table
        tr
          th id
          th message
        for m in messages
          tr
            td
              =m.id
            td
              =m.content
